<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            
<!--            Adding context page, need changes to resource references:
            https://stackoverflow.com/questions/58012130/spring-boot-context-path-static-files-not-found-->

            <a th:href="@{/}" class="vert-align">
                <img th:src="@{/images/golf.png}" class="logo"></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/bookings/list}" href="/bookings/list" class=" navbar-link">Tee Times</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/bookings/list}" class="navbar-item">Bookings</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/bookings/find}" class="navbar-item">Report Find By Booker</a>
                        <hr class="navbar-divider">
                            
                    </div>
                </div>
<!--                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/courts/list}" class="navbar-link">Courts</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/courts/search}" class="navbar-item">Courts Available</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/courts/export}" class="navbar-item">Export</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/courtBookings}" class="navbar-link">Court Bookings</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/courtBookings}" class="navbar-item">Bookings</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/courtBooking/export}" class="navbar-item">Export</a>
                    </div>
                </div>-->
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>